body {
    font-family:  "Verdana";
}
.nav-bar{
    font-size: 20px;
    width: 8rem;
    text-align: center;
    padding-top: 10px;
}

.center-pills {
    display: flex;
    justify-content: center;
}

.project-boxes{
    padding-left: 0px
}